* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

#first-page {
	height: 100vh;
	background-image: url("./images/black-and-white-wallpaper-hd-1-desktop-wallpaper.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#banner {
	position: absolute;
	color: white;
	padding: 30vh;
	width: 90%;
	height: 80%;
	background-color: rgba(0,0,0,0.7);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

hr {
	background-color: white;
}

a {
	color: white;
}

#second-page {
	background-color: black;
	color: white;
	
}

#third-page {
	background: gray;
}

